* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header nav {
    background-color: var(--neutral-silver);
}

header nav div.container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

nav div.container ul {
    display: flex;
}

nav div.container ul.navbar {
    gap: 50px;
}

nav div.container ul.navbar li > a {
    line-height: 24px;
    color: var(--text-gray-900);
    font-weight: 400;
    transition: font-weight 0.2s;
}

nav div.container ul.navbar li > a:hover {
   font-weight: 500;
   width: 100%;
}

nav div.container ul.login-and-sign-up {
    gap: 14px;
}